<div style="margin-bottom: 1em;">
    <ul class="nav nav-pills">
        <li><a ng-class="{selected : books.currentAvailabilityStatus() === undefined}" ng-click="books.setAvailabilityStatus(undefined)">Show All</a></li>
        <li><a ng-class="{selected : books.currentAvailabilityStatus() === true}" ng-click="books.setAvailabilityStatus(true)">Show Available</a></li>
        <li><a ng-class="{selected : books.currentAvailabilityStatus() === false}" ng-click="books.setAvailabilityStatus(false)">Show Borrowed</a></li>
    </ul>
</div>
<div style="display: flex; flex-wrap: wrap;" ng-init="books.getBookData()">
    <div style="margin: 0 1em 1em;" ng-repeat="book in books.bookData | filter: {availability: books.currentAvailabilityStatus()}" >
        <a ui-sref="book({id: book.id})"><img ng-src="{{book.cover}}" /></a>
    </div>
</div>