<div class="book row" ng-init="books.selectBook()">
    <div class="book-header col-md-4">
        <h2>{{books.currentBook.title}}</h2>
        <h4>By {{books.currentBook.author}}</h4>
        <img ng-src="{{books.currentBook.cover}}" />
    </div>
    <div class="book-info col-md-8">
        <h3>Description</h3>
        <p class="book-description">{{books.currentBook.description}}</p>
        <div class="row book-availability" ng-controller="AvailabilityController as status">
            <div class="col-md-6" ng-class="{available:books.currentBook.availability, unavailable:!books.currentBook.availability}">
                <h4 ng-show="books.currentBook.availability">Available</h4>
                <h4 ng-hide="books.currentBook.availability">Borrowed by {{books.currentBook.borrower}}</h4>
            </div>
            <div class="col-md-6">
                <form name="borrowForm" class="borrow-form" ng-submit="borrowForm.$valid && books.swapAvailability(books.currentBook); borrowForm.$valid && books.addBorrower(books.currentBook, borrower); borrower = ''; books.saveBook()" novalidate>
                    <textarea ng-show="books.currentBook.availability" ng-model="borrower" ng-required="books.currentBook.availability"></textarea>
                    <button type="submit" value="Submit" class="lend-button">{{books.currentBook.availability ? "Lend" : "Return"}}</button>
                </form>
            </div>
        </div>
    </div>
</div>